@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-red: #BF2D0D;
    --white-section: #FDFDFD;
    --primary-white: #FFFFFF;
    --primary-gray: #959595;
    --primary-black: #393939;
    --primary-green: #1D8902;
    --secondary-gray: #8A8A8A;
    --secondary-red: #FF5B37;
    --body-color: #FDF7F6;
    --nav-color: #F2F3F3;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: var(--white-section);
    font-weight: 400;
}

.col100 {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 15px;
}

.col55 {
    max-width: 55%;
    flex: 0 0 55%;
    padding: 0 15px;
}

.col50 {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 15px;
}

.col70 {
    max-width: 70%;
    flex: 0 0 70%;
    padding: 0 15px;
}

.col60 {
    max-width: 60%;
    flex: 0 0 60%;
    padding: 0 15px;
}

.col40 {
    max-width: 40%;
    flex: 0 0 40%;
    padding: 0 15px;
}

.col45 {
    max-width: 45%;
    flex: 0 0 45%;
    padding: 0 15px;
}

.col33 {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    padding: 0 15px;
}

.col25 {
    max-width: 25%;
    flex: 0 0 25%;
    padding: 0 15px;
}


/* Navbar */
header {
    position: sticky;
    /* top: 0px; */
    top: 0px;
    z-index: 111111;
    /* left: 0;
    right: 0; */
}



.top-navbar {
    background-color: #bb2e0f;
    color: var(--primary-white);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 120px;
    font-size: 14px;
}

.content-left {
    display: flex;
    gap: 30px;
}

.content-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.content-right {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navlabel {
    background-color: var(--primary-red);
    color: var(--primary-white);
    border: none;
    text-decoration: underline;
}

.nav {
    background-color: var(--nav-color);
    /* height: 120px; */
}

.navcontainer {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.brand a {
    display: block;
    max-width: 139px;
    margin-right: 220px;
}

.navlinks {
    display: flex;
}

.navlinks li a {
    position: relative;
}

.navlinks .active {
    color: var(--primary-red);
}

.navlinks .active::after {
    content: " ";
    position: absolute;
    bottom: -8px;
    left: 22%;
    width: 6px;
    height: 6px;
    background-color: var(--primary-red);
    border-radius: 50%;
}

.navlinks li a {
    color: var(--primary-gray);
    font-size: 18px;
    padding-right: 50px;
}

.navlinks li a:hover {
    color: var(--primary-red);
}

.search-icon {
    border-radius: 50%;
    padding: 17px 20px;
    margin-left: 160px;
    background-color: #E2E2E2;
    color: var(--primary-black);
}

.search-icon i {
    font-size: 18px;
}

.search-icon i:hover {
    color: var(--primary-red);
    cursor: pointer;
}

.navline {
    width: 2px;
    height: 30px;
    background-color: #D9D5D5;
    margin-left: 5px;
    margin-right: 5px;
}

.cart i {
    font-size: 28px;
    color: var(--primary-black);
}

.cart i:hover {
    color: var(--primary-red);
    cursor: pointer;
}

.nav-btn .cmn-btn:hover {
    background-color: var(--primary-red);
    color: var(--primary-white);
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.cmn-btn {
    display: inline-block;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 3px;
    border: 2px solid var(--primary-red);
    color: var(--primary-red);
}


.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-white);
    outline: 1px solid var(--primary-red);
    transition: transform 0.3s ease;
}



/* Banner section */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
}


.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* position: relative; */
}

.slides-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    animation: slideRight 15s infinite linear;
}

.slide {
    flex: 0 0 100%;
    /* width: 100%; */
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide:nth-child(1) {
    background-image: url('images/Banner.png');
}

.slide:nth-child(2) {
    background-image: url('images/Banner2.png');
}

.slide:nth-child(3) {
    background-image: url('images/banner3.png');
}


@keyframes slideRight {
    0% {
        transform: translateX(0%);
    }

    30.33% {
        transform: translateX(0%);
    }

    40.33% {
        transform: translateX(-100%);
    }

    65.66% {
        transform: translateX(-100%);
    }

    75.66% {
        transform: translateX(-200%);
    }

    95% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

/* left banner */
.left-banner-content {
    margin-top: 60px;
}

.left-banner-content span {
    font-size: 24px;
    font-weight: 600;
    color: var(--secondary-red);
}

.left-banner-content h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 52px;
    line-height: 1.2;
}

.bannner-description {
    font-size: 14px;
    color: #D9D9D9;
    padding: 15px 0;
}

.banner-btn .cmn-btn {
    background-color: #E3E3E3;
    border: none;
    font-weight: 600;
}

.banner-btn .cmn-btn i {
    font-size: 18px;
    padding-left: 7px;
}

.banner-btn .cmn-btn:hover {
    background-color: var(--primary-red);
    color: var(--primary-white);
    transform: scale(1.1);
    transition: 1s ease-in-out;
}


/* right banner */
.right-banner-content {
    position: absolute;
    right: 200px;
    /* top: calc(120px - 60px); */
    top: 60px;
    width: 470px;
    height: 520px;
    background-color: var(--primary-white);
    color: var(--primary-black);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    /* text-align: center; */
}

.h4-title {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 3.2;
    font-weight: 600;
}

.redline {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.sm-line {
    width: 12px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--primary-red);
}

.lg-line {
    width: 50px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--primary-red);
}

.wheeler {
    font-size: 18px;
    font-weight: 500;
    /* line-height: 3.5; */
    margin: 20px 0;
}

.wheeler span:nth-child(1) {
    padding-right: 28px;
}

.form-container {
    padding: 0 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container select {
    padding: 12px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: #EBEAEA;
    color: #5F5E5E;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-row select {
    flex: 1;
}

.form-container .cmn-btn {
    text-align: center;
    background-color: var(--primary-red);
    color: var(--primary-white);
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 8px;
}

.form-container .cmn-btn:hover {
    background-color: var(--primary-white);
    color: var(--primary-red);
}


/* Expert service */
.service {
    position: relative;
    background-color: var(--primary-black);
    width: 100%;
    height: 600px;
    padding: 63px 0;
    display: flex;
}

.service-details {
    text-align: center;
    margin-bottom: 70px;
}

.service-details h1 {
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.highlight {
    display: inline-block;
    background: linear-gradient(7deg, #FF5B37 100%, #BF2D0D 0%);
    padding: 3px 6px;
    transform: skewX(-12deg);
}

.highlight span {
    display: inline-block;
    transform: skewX(12deg);
}

.service-details p {
    line-height: 2.3;
}

.red-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primary-red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: start; */
    margin: 0 35px;
}

.service-card span {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 2.6;
}

.service-card p {
    font-size: 14px;
    margin-bottom: 15px;
}

.service-card .cmn-btn {
    color: var(--primary-white);
    border-color: var(--primary-white);
}

.service-card .cmn-btn:hover {
    color: var(--primary-red);
    border-color: var(--primary-red);
    cursor: pointer;
}

.readBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.readBtn i {
    margin-top: 5px;
}

.readText {
    z-index: 1;
    display: none;
}

.text {
    background-color: var(--primary-white);
    color: var(--primary-black);
    font-size: 14px;
    line-height: 1.5;
    padding: 13px;
}

.readText .redline {
    background-color: var(--primary-red);
    width: 100%;
    height: 5px;
}




/* repair and service */
.repair-service {
    position: relative;
    width: 100%;
    height: 625px;
    background-color: var(--primary-red);
}

.containerfluid {
    max-width: 1600px;
}

.image-section {
    max-width: 50%;
    flex: 0 0 50%;
}

.image-section img {
    position: absolute;
}

.services-section {
    /* position: relative; */
    max-width: 50%;
    flex: 0 0 50%;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
}

.services-section span {
    color: #D9D9D9;
    margin-bottom: 45px;
}

.services-columns {
    display: flex;
    gap: 40px;
}

.services-columns ul li {
    margin-bottom: 25px;
    margin-right: 20px;

}

.services-columns ul li i {
    padding-right: 5px;
}


/* why choose us */
.choose-us-row .col25 {
    padding: 0;
}

.choose-us {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    padding: 95px 0;
    background-color: var(--white-section);
    display: flex;
}

.choose-us-details {
    text-align: center;
    color: var(--primary-black);
}

.choose-us-details h1,
.our-product-details h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 600;
}

.choose-us-details span,
.our-product-details span {
    color: var(--primary-white);
    margin-right: 5px;
}

.choose-us-content {
    text-align: center;
    color: var(--primary-black);
}

.choose-us-content p {
    line-height: 1.87;
    margin: 40px 0;
}

.choose-us-content p:nth-child(2) {
    margin-bottom: 50px;
}

.choose-us-content .cmn-btn:hover,
.product-btn .cmn-btn:hover {
    background-color: var(--primary-red);
    color: var(--primary-white);
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.choose-us-image img {
    position: relative;
    top: 30px;
    margin-bottom: 50px;
}


.choose-us-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 20px 10px; */
    padding: 0 10px 18px 10px;
}

.logo {
    /* position: relative; */
    width: 100px;
    height: 100px;
    background-color: var(--primary-red);
    border: 5px solid var(--primary-black);
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* overflow: hidden; */
    margin-top: 70px;
    margin-bottom: 18px;
}

.logo img {
    transform: rotate(-45deg);
}

.choose-us-card span {
    color: var(--primary-black);
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 2.6;
}

.choose-us-card p {
    color: var(--secondary-gray);
    font-size: 14px;
    line-height: 1.9;
}

.choose-us-card:hover {
    background-color: var(--primary-white);
    /* border-radius: 5px; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* padding: 0 10px 15px 10px; */
}


/* we-work */
.we-work {
    position: relative;
    width: 100%;
    min-height: 670px;
    display: flex;
    padding: 60px 0;
    background-color: var(--body-color);
}

.we-work-details {
    text-align: center;
    margin-bottom: 40px;
}

.we-work-details h1,
.service-package-details h1,
.we-repair-details h1 {
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    color: var(--primary-black);
    font-weight: 600;
}

.we-work-details span,
.service-package-details span,
.we-repair-details span {
    color: var(--primary-white);
}

.we-work-details p,
.our-product-details p {
    color: var(--secondary-gray);
    font-size: 14px;
    margin-top: 12px;
}


.work-up,
.work-down {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.work-up span,
.work-down span {
    color: var(--primary-black);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    max-width: 174px;
}

.work-up p,
.work-down p {
    color: var(--secondary-gray);
    font-size: 14px;
    line-height: 1.7;
    margin-top: 17px;
}

.work-down span:nth-child(2) {
    max-width: 185px;
}

.work-down {
    top: 60px;
}

.up-arrow {
    position: absolute;
    left: 200px;
    bottom: 261px;
}

.down-arrow {
    position: absolute;
    left: 220px;
    top: 261px;
}



/* shop-our-product */
.our-product {
    position: relative;
    width: 100%;
    min-height: 850px;
    padding: 98px 0;
    background-color: var(--white-section);
}

.our-product-details {
    text-align: center;
    color: var(--primary-black);
}

.our-product-section {
    margin-top: 53px;
}

.product-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-button {
    border: none;
    font-size: 24px;
    background-color: var(--primary-white);
    color: var(--primary-black);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 12px 20px;
}

.product-button:hover {
    color: var(--primary-red);
    cursor: pointer;
}

.product-slider {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.product-items {
    max-width: 33.33%;
    flex: 0 0 33.33%;
    padding: 0 15px;
}

.product-items-content {
    background-color: var(--primary-white);
    padding: 15px 15px 30px;
    border-radius: 5px;
    border: 1px solid #F1F1F1;
}

.icon-rating-offer-add {
    display: flex;
    justify-content: space-between;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-red);
    color: var(--primary-white);
    border-radius: 2px;
    padding: 3px 6px;
    font-size: 14px;
    font-weight: 600;
}

.rating i {
    font-size: 12px;
    padding-left: 3px;
}

.heading {
    color: var(--primary-black);
    font-size: 16px;
    font-weight: 500;
}

.brand-id {
    font-size: 14px;
    display: block;
    line-height: 1.9;
    color: var(--secondary-gray);
}

.rupee-line {
    color: var(--secondary-gray);
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.product-line {
    text-decoration: line-through;
}

.rupee {
    color: var(--primary-black);
    margin-left: 10px;
    font-size: 18px;
    font-weight: 500;
}

.offer {
    color: #1D8902;
    background-color: rgba(44, 207, 4, 0.3);
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: 13px;
}

.add {
    background-color: var(--primary-red);
    color: var(--primary-white);
    padding: 12px 23px;
    border-radius: 5px;
}

.add:hover {
    /* transform: scale(1.1); */
    /* transition: 1s ease-in-out; */
    cursor: pointer;
    background-color: var(--primary-white);
    color: var(--primary-red);
    outline: 2px solid var(--primary-red);
}

.product-btn {
    margin-top: 31px;
    text-align: center;
}


/* service-package */
.service-package {
    position: relative;
    width: 100%;
    min-height: 925px;
    padding: 61px 0;
    background-color: var(--body-color);
    display: flex;
}

.service-package-details {
    margin-bottom: 85px;
    text-align: center;
}

.package-details {
    background-color: var(--body-color);
    border: 2px solid #D9D9D9;
    border-radius: 2px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basic {
    font-size: 22px;
    font-weight: 600;
    color: var(--primary-black);
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.monthly {
    color: var(--primary-red);
    font-size: 38px;
    margin-bottom: 30px;
}

.pay {
    font-size: 38px;
    font-weight: 500;
}

.month {
    font-size: 20px;
    font-weight: 500;
}

.gray-line {
    width: 298px;
    height: 2px;
    background-color: #EBEAEA;
}

.time {
    color: var(--secondary-gray);
    margin: 18px 0;
}

.package-details-content {
    margin: 30px 0;
    text-align: center;
}

.package-details-content p {
    color: var(--secondary-gray);
    line-height: 2;
}

.package-details .cmn-btn:hover {
    background-color: var(--primary-red);
    color: var(--primary-white);
    transition: 0.5s ease-in-out;
}

.package-details:hover {
    outline: 5px solid var(--primary-red);
    border: 2px solid transparent;
    overflow: hidden;
}

.package-details:hover .monthly {
    transform: scale(1.15);
    /* transition: 0.3s ease-in-out; */
}


/* customer-review */
.customer-reviews {
    position: relative;
    width: 100%;
    min-height: 680px;
    padding-bottom: 80px;
    background-color: var(--white-section);
}

.customer-reviews-img {
    /* position: relative; */
    max-width: 55%;
    flex: 0 0 55%;
}

.customer-review-section {
    position: absolute;
    left: calc(46% - 0px);
    /* left: 700px; */
    /* width: calc(100% - 350px); */
    right: 0px;
    bottom: 90px;
    /* min-height: 75; */

}

.customer-review-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: var(--primary-white);
    padding: 50px 100px 0px 35px;
    height: 70vh;
}

.customer-review-details h3 {
    color: var(--primary-black);
}

.customer-highlight,
h3 {
    font-family: "Montserrat", sans-serif;
    color: var(--primary-red);
    font-size: 38px;
}

.customer-rating {
    color: #FFC107;
    margin: 30px 0 20px;
}

.review-person-details {
    display: flex;
    margin-top: 24px;
}

.review-text {
    color: var(--secondary-gray);
    font-size: 16px;
    font-weight: 500;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    left: 37px;
    top: var(--swiper-navigation-top-offset, 85%);
    width: calc(var(--swiper-navigation-size) / 24 * 37);
    /* font-size: 15px; */
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
    margin-left: 15px;
    z-index: 10;
    cursor: pointer;
    color: var(--secondary-gray);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 24px;
}

.swiper-pagination-fraction {
    color: #DADADA;
    font-size: 28px;
    font-weight: 500;
}

.swiper-pagination-current {
    font-size: 49px;
    opacity: 1;
    transition: opacity 10s ease-in-out;

}


.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 52px);
    /* top: var(--swiper-pagination-top, auto); */
    left: 160px;
    /* width: 80vw; */
}


.reviewer-name {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 10px;
    margin-bottom: 55px;
}

.name {
    color: var(--primary-black);
}

.media-name {
    color: var(--secondary-gray);
}


/* download-app */
.download-app-section {
    position: relative;
    width: 100%;
    min-height: 800px;
    background-color: var(--body-color);
}

.phone-img {
    margin-top: 95px;
}

.app-details {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 200px;
    color: var(--primary-black);
}

.app-heading {
    color: var(--primary-black);
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 38px;
}

.app-subheading {
    font-size: 18px;
    width: 587px;
    margin: 15px 0 50px;
}

.app-subheading .customer-highlight {
    font-size: 18px;
}

.app-store {
    display: flex;
    gap: 19px;
}

.store-details {
    background-color: #000000;
    padding: 10px 15px;
    display: flex;
    border-radius: 5px;
}

.store-heading {
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.get {
    font-size: 14px;
}

.store-name {
    font-size: 20px;
}

.get-app-link {
    background-color: #EFECEC;
    color: var(--secondary-gray);
    padding: 5px 16px 8px;
    display: flex;
    width: 454px;
    border-radius: 3px;
    margin-top: 25px;
}

.app-link-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.app-link-details img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    height: 30px;
    width: 2px;
    background-color: #D7D5D5;
}

.getlink-btn {
    border: 1.8px solid var(--primary-red);
    padding: 5px 8px;
    border-radius: 2px;
    color: var(--primary-red);
    font-weight: 500;
    cursor: pointer;
}

.getlink-btn:hover {
    background-color: var(--primary-red);
    color: var(--primary-white);
    transition: 0.5s all ease-in-out;
}

.input-field {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    /* color: var(--secondary-gray); */
    font-size: 18px;
}


/* we-repair section */
.we-repair {
    position: relative;
    width: 100%;
    min-height: 430px;
    padding: 90px 0 10px;
    background-color: var(--white-section);
    /* border: 2px solid #000000; */
}

.we-repair-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

.we-repair-details {
    text-align: center;
    margin-bottom: 20px;
}

.we-repair-subheading {
    color: var(--secondary-gray);
    text-align: center;
}

.logos-content {
    border: 1.8px solid #D9D9D9;
    /* background-color: var(--primary-white); */
    border-radius: 3px;
    width: 197px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    cursor: pointer;
}


/* footer section */
.footer-section {
    position: relative;
    width: 100%;
    min-height: 750px;
    background-color: var(--primary-black);
    color: var(--primary-white);
    padding: 85px 0;
}

.footer-section .container {
    max-width: 1250px;
}

.footer-details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact {
    color: #D9D9D9;
    font-size: 22px;
    font-weight: 500;
}

.footer-subheading {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    color: var(--primary-white);
    font-weight: 600;
    line-height: 1.5;
}


.brand-information {
    display: flex;
    margin-top: 70px;
}

.brand-details {
    background-color: #000000;
    display: flex;
    padding: 30px 50px 15px 15px;
    border-radius: 5px;
}

.email {
    padding: 30px 65px 32px 15px;
}

.brand-contact {
    padding: 30px 50px 32px 15px;
}

.icons {
    background-color: var(--primary-black);
    padding: 0px 15px;
    width: 75px;
    height: 55px;
    border-radius: 3px;
    color: var(--primary-red);
    font-size: 35px;
    margin-right: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-text {
    display: flex;
    flex-direction: column;
}

.brand-heading {
    font-size: 20px;
}

.brand-subheading {
    font-size: 14px;
    color: var(--primary-gray);
}

.Follow-icons {
    display: flex;
    gap: 8px;
    font-size: 16px;
    color: #000000;
    padding-bottom: 13px;
}

.Follow-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--primary-gray);
}

.Follow-icons i:hover {
    background-color: var(--primary-white);
    cursor: pointer;
}


.links span {
    display: block;
    margin: 45px 0 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.lists li {
    margin-bottom: 7px;
}

.lists a {
    color: #C5C2C2;
    font-size: 18px;
    position: relative;
}

.lists a::before {
    content: "";
    position: absolute;
    /* display: block; */
    bottom: -3px;
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: var(--primary-red);
    left: 0;
    transition: all 0.3s ease-in-out;
}

.lists a:hover {
    color: var(--primary-red);
}

.lists a:hover::before {
    width: 100%;
}

.links p {
    width: 300px;
    font-size: 13px;
    color: #C5C2C2;
    line-height: 1.8;
    margin-bottom: 25px;
}

.footer-btn {
    color: var(--primary-black);
    background-color: var(--body-color);
    font-weight: 500;
    border-radius: 25px;
    padding: 14px 20px 14px;
}

.footer-btn:hover {
    color: var(--primary-red);
}

.footer-btn i {
    font-size: 18px;
    margin-left: 19px;
    font-weight: 500;
}

.copy-right {
    background-color: #000000;
    color: var(--primary-white);
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* responsive start */
@media (max-width:1399px) {

    /* navbar */
    .search-icon {
        margin-left: 100px;
    }

    .brand a {
        margin-right: 200px;
    }

    /* repair and service */
    .repair-service {
        height: 100%;
    }

    .image-section {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .image-section img {
        position: static;
        width: 100%;
    }

    .services-section {
        max-width: 100%;
        flex: 0 0 100%;
        max-width: fit-content;
        margin-inline: auto;
    }

    .services-section span {
        /* float: left; */
        /* display: inline; */
        text-align: start;
    }
}

@media (max-width:1199px) {

    /* navbar */
    .brand a {
        margin-right: 100px;
    }

    .search-icon {
        margin-left: 30px;
    }

    .right-banner-content {
        right: 50px;
    }

    /* customer review */
    .customer-review-details {
        padding: 50px 50px 0px 35px;
        /* min-height: 69vh; */
    }

    .customer-review-section {
        bottom: 150px;
    }

    /* download app */
    .app-subheading {
        width: calc(100% - 10%);
    }

    /* we repair */
    /* .swiper-slide {
        margin-right: 70px !important;
    } */

    /* footer */
    .footer-row .col25 {
        max-width: 33.33%;
        flex: 0 0 33.33%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .footer-row .col25:nth-child(n+5):nth-child(-n+8) {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
        margin-bottom: 0;
    }

    .footer-row .links p {
        width: 100%;
    }

    .brand-details {
        padding-right: 68px;
    }
}

@media (max-width:1024px) {

    /* top navbar */
    .top-navbar {
        padding: 6px 20px;
    }


    /* navbar */
    .search-icon,
    .navline,
    .cart {
        display: none;
    }


    /* banner */
    .right-banner-content {
        width: 415px;
        height: 500px;
    }

    /* choose us */
    .choose-us-row .col25 {
        max-width: 33.33%;
        flex: 0 0 33.33%;
        margin: 0 auto;
    }

    /* how we work */
    .up-arrow {
        left: 170px;
        bottom: 291px;
    }

    .down-arrow {
        left: 175px;
        top: 285px;
    }

    /* shop our product */
    .product-items {
        max-width: 50%;
        flex: 0 0 50%;
    }

    /* our service package */
    .pay {
        font-size: 28px;
    }

    /* customer review */
    .customer-review-details {
        padding: 50px 28px 0px 27px;
        /* min-height: 72vh; */
    }
}


@media (max-width:991px) {

    /* navbar */
    .brand a {
        margin-right: 55px;
    }

    /* banner */
    .left-banner-content h1 {
        font-size: 43px;
    }

    /* download-app */
    .download-app-row .col50 {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    .app-details {
        margin: 50px 0;
        align-items: center;
    }

    .app-subheading {
        width: calc(100% - 39%);
    }

    /* we repair section */
    /* .swiper-slide {
        margin-right: 100px !important;
    } */

    .customer-review-details {
        height: 75vh;
    }

    /* footer */
    .brand-details {
        padding-right: 50px;
    }

    .footer-row .col25 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .footer-row .col25:nth-child(-n + 1) .brand-details {
        padding-bottom: 30px;
    }

    /* .swiper-slide {
        margin-right: 0 !important;
    } */
}

@media (max-width:767px) {

    /* top navbar */
    .top-navbar {
        height: 65px;
    }

    .content-left {
        flex-direction: column;
        gap: 10px;
    }

    /* navbtn */
    .nav-btn {
        display: flex;
        align-items: center;
        gap: 23px;
    }

    /* navbar */
    .navbox .navlinks {
        position: fixed;
        /* top: 18%; */
        top: 170px;
        right: 0;
        width: 100%;
        background-color: var(--primary-red);
        /* color: var(--primary-white); */
        height: calc(100vh - 170px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(100%);
        transition: transform 0.8s ease-in-out;

    }

    .navbox .navlinks.active {
        transform: translate(0);
    }

    .hamburger {
        display: flex;
    }

    .navbox .navlinks li {
        margin: 15px 0;
    }

    .navbox .navlinks a {
        font-size: 22px;
        color: var(--primary-white);

    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(50deg) translateY(10px);
        background: var(--primary-red);
    }


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-50deg) translateY(-11px);
        background: var(--primary-red);
    }


    /* banner */
    .none {
        display: none;
    }

    .banner-row .col50 {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    .bannner-description {
        width: 70%;
        margin: 0 auto;
    }

    /* service */
    .service-row .col33 {
        max-width: 50%;
        flex: 0 0 50%;
        margin: 15px auto;
    }

    .service {
        height: 920px;
    }

    .service-card p {
        text-align: center;
    }

    /* choose us */
    .choose-us-row .col25 {
        max-width: 50%;
        flex: 0 0 50%
    }

    /* how we work */
    .we-work-row .col25 {
        max-width: 50%;
        flex: 0 0 50%;
        margin-bottom: 50px;
    }

    .down-arrow {
        display: none;
    }

    .up-arrow {
        left: 249px;
        bottom: 258px;
    }

    /* shop our product */
    .product-items {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }

    .service-package-row .col33 {
        max-width: 50%;
        flex: 0 0 50%;
        margin: 15px auto;
    }

    /* customer-reviews */
    .customer-reviews-row .customer-reviews-img,
    .col45 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .customer-review-section {
        position: relative;
    }

    .customer-reviews {
        padding-bottom: 0;
        min-height: 900px;

    }

    .customer-review-section {
        left: 0;
        bottom: 0;
    }
}

@media (max-width:600px) {

    .service-details h1,
    .choose-us-details h1,
    .our-product-details h1,
    .we-work-details h1,
    .service-package-details h1,
    .we-repair-details h1 {
        font-size: 33px;
    }

    /* expert service */
    .service {
        height: 1000px;
    }

    .service-details p,
    .we-work-details p,
    .our-product-details p {
        font-size: 13px;
    }

    .text {
        font-size: 11px;
    }

    /* choose us */
    .choose-us-content p {
        font-size: 14px;
        line-height: 1.5;
    }

    /* service package */
    .service-package-row .col33 {
        max-width: 60%;
        flex: 0 0 60%;
    }

    /* download app */
    .customer-highlight,
    .app-heading {
        font-size: 28px;
    }

    .app-subheading {
        text-align: center;
        font-size: 15px;
    }

    .get-app-link {
        width: 438px;
        font-size: 13px;
    }

    /* repair and service */
    .services-columns {
        flex-direction: column;
        align-items: center;
    }

    /* how we work */
    .up-arrow {
        left: 200px;
    }

    /* footer */
    .footer-subheading {
        font-size: 28px;
    }

    .footer-row .col25 {
        max-width: 65%;
        flex: 0 0 65%;
    }
}

@media (max-width:575px) {

    /* top navbar */
    .top-navbar {
        flex-direction: column;
        justify-content: center;
        height: 100px;
        gap: 10px;
    }

    /* navbar */
    .navbox .navlinks {
        top: 205px;

    }

    /* banner */
    .left-banner-content h1 {
        font-size: 40px;
    }

    /* how we work */
    .we-work-row .col25 {
        max-width: 80%;
        flex: 0 0 80%;
        margin: 15px auto;
    }

    .up-arrow {
        display: none;
    }

    .work-down {
        top: 0;
    }

    /* expert service */
    .service-card span {
        font-size: 20px;
    }

    .service-card p {
        font-size: 11px;
    }

    .service-card .cmn-btn {
        padding: 12px 14px;
        font-size: 14px;
    }

    /* choose us */
    .choose-us-row .col25 {
        max-width: 53%;
        flex: 0 0 53%;
    }

    /* service package */
    .service-package-row .col33 {
        max-width: 70%;
        flex: 0 0 70%;
    }

    /* footer */
    .brand-details {
        padding-right: 12px;
    }
}

@media (max-width:480px) {

    .service-details h1,
    .choose-us-details h1,
    .our-product-details h1,
    .we-work-details h1,
    .service-package-details h1,
    .we-repair-details h1 {
        font-size: 23px;
    }

    /* banner */
    .left-banner-content h1 {
        font-size: 33px;
    }

    .bannner-description {
        width: 90%;
    }

    /* expert service */
    .service {
        height: 1250px;
    }

    .service-row .col33 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .service-details {
        margin-bottom: 60px;
    }

    /* repair and service */
    .services-section span {
        font-size: 13px;
        width: 75%;
        margin: 15px auto;
        display: inline-block;
    }

    /* choose us */
    .choose-us-row .col25 {
        max-width: 90%;
        flex: 0 0 90%;
    }

    /* shop our product */
    .icon-rating-offer-add {
        padding-top: 10px;
    }

    .product-items {
        padding: 0 5px;
    }

    /* service package */
    .service-package-row .col33 {
        max-width: 80%;
        flex: 0 0 80%;
    }

    /* customer reviews */
    .customer-reviews {
        min-height: 600px;
    }

    .customer-review-details {
        padding: 20px 38px 0px 38px
    }


    /* download app */
    .app-store {
        flex-direction: column;
    }

    .get-app-link {
        width: 373px;
    }

    .input-field {
        font-size: 13px;
    }

    .customer-highlight,
    .app-heading {
        font-size: 25px;
    }

    /* we repair section */
    .logos {
        margin-left: 115px;
    }

    /* footer */
    .footer-subheading {
        font-size: 25px;
    }

    .footer-row .col25 {
        max-width: 80%;
        flex: 0 0 80%;
    }

}

@media (max-width:420px) {

    .service-details h1,
    .choose-us-details h1,
    .our-product-details h1,
    .we-work-details h1,
    .service-package-details h1,
    .we-repair-details h1 {
        font-size: 22px;
    }

    .service-details p,
    .we-work-details p,
    .our-product-details p {
        font-size: 11px;
    }

    /* navbar */
    .nav-btn .cmn-btn {
        display: none;
    }

    /* banner */
    .left-banner-content h1 {
        font-size: 30px;
    }

    .bannner-description {
        font-size: 11px;
    }

    /* repair and service */
    .services-columns ul li {
        margin-bottom: 15px;
        margin-right: 0px;
        font-size: 13px;
    }

    /* choose us */
    .choose-us-content p {
        font-size: 11px;
    }

    .choose-us-card span {
        font-size: 20px;
    }

    .choose-us-card p {
        font-size: 11px;
    }

    /* how we work */
    .work-up p,
    .work-down p {
        font-size: 12px;
    }

    /* shop our product */
    .product-button {
        font-size: 20px;
        padding: 10px 16px;
    }

    .heading {
        font-size: 14px;
    }

    .brand-id {
        font-size: 12px;
    }

    .rupee-line,
    .rupee {
        font-size: 15px
    }

    .add {
        padding: 12px 20px;
        font-size: 14px;
    }

    .rating i {
        font-size: 10px;
    }

    /* service package */
    .service-package-row .col33 {
        max-width: 90%;
        flex: 0 0 90%;
    }

    /* customer rating */
    /* .customer-review-details {
        min-height: 65vh;
    } */

    .customer-highlight,
    .app-heading {
        font-size: 23px;
    }

    .customer-highlight h3 {
        font-size: 32px;
    }

    .review-text {
        font-size: 13px;
    }

    .swiper-pagination-fraction {
        left: 120px;
    }

    .customer-rating {
        margin: 20px 0 20px;
    }

    /* we repair */
    .we-repair-subheading {
        font-size: 13px;
    }

    .logos {
        margin-left: 90px;
    }

    /* footer */
    .footer-row .col25 {
        max-width: 90%;
        flex: 0 0 90%;
    }

    .footer-subheading {
        font-size: 22px;
    }
}

@media (max-width:375px) {

    /* top navbar */
    .top-navbar {
        font-size: 12px;
    }

    /* banner */
    .left-banner-content h1 {
        font-size: 26px;
    }

    /* shop our product */
    .product-items-content {
        padding: 15px 15px 20px;
    }

    .heading {
        font-size: 12px;
    }

    .add {
        padding: 12px 17px;
    }

    /* service package */
    /* .service-package-row .col33 {
        max-width: 90%;
        flex: 0 0 90%;
        padding: 0;
    } */

    .package-details {
        padding: 30px 5px;
    }

    .gray-line {
        width: 260px;
    }

    /* cutomer review */
    .customer-review-details h3 {
        font-size: 31px;
    }

    /* download app */
    .app-heading {
        font-size: 18px;
    }

    .app-subheading {
        width: calc(100% - 15%);
        font-size: 13px;
    }

    .get-app-link {
        width: 325px;
    }

    .app-link-details {
        gap: 12px;
    }

    .getlink-btn {
        padding: 5px 6px;
        font-size: 10px;
    }

    .input-field {
        font-size: 11px;
    }

    .logos {
        margin-left: 65px;
    }


    /* footer */
    .footer-row .col25 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .lists a {
        font-size: 15px;
    }

    .footer-subheading {
        font-size: 20px;
    }

    .footer-btn {
        font-size: 13px;
    }
}

@media (max-width:320px) {

    .service-details h1,
    .choose-us-details h1,
    .our-product-details h1,
    .we-work-details h1,
    .service-package-details h1,
    .we-repair-details h1 {
        font-size: 18px;
    }

    .service-details p,
    .we-work-details p,
    .our-product-details p {
        font-size: 10px;
    }


    /* choose us */
    .choose-us-content p {
        font-size: 10px;
    }

    /* our product */
    .heading {
        font-size: 10px;
    }

    .brand-id {
        font-size: 9px;
    }

    .rupee-line,
    .rupee {
        font-size: 12px;
    }

    .rating {
        font-size: 12px;
    }

    .rating i {
        font-size: 9px;
    }

    .add {
        padding: 13px 10px;
        font-size: 12px;
    }

    .offer {
        padding: 8px 12px;
    }

    .package-details:hover .monthly {
        transform: scale(1.05);
        /* transition: 0.3s ease-in-out; */
    }

    /* download */
    .app-heading {
        font-size: 14px;
    }

    /* we repair */
    .logos {
        margin-left: 45px;
    }

    /* footer */
    .brand-heading {
        font-size: 18px;
    }
}